p{
  font-size: 100px;
    color:rgb(194, 206, 29);
    font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
    background-image: url(https://img.projektn.sk/wp-static/2020/12/purringkitty.jpg); 
}